/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

.timeline .label {
/*    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-focus-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;*/
    -fx-font: 25pt "Segoe UI";
    /*-fx-background-radius: 0;*/
}