/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
}

.timeline .label {
/*    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-focus-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-background-radius: 0;*/
}