/*
Copyright 2016 Andrej Badinka
*/
/* 
    Created on : 17.2.2016, 23:07:52
    Author     : abadinka
*/


/*.alert.confirmation.dialog-pane {
    -fx-background-color: lightgreen;
}*/

.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane > .button-bar {
    -fx-font-size: 24px;
    -fx-background-color: indianred;
    -fx-font-family: "Andalus";
}

.dialog-pane .graphic-container {
    -fx-visible: false;
}

.alert.confirmation.dialog-pane {
    -fx-graphic: url("lock24.png");
}