* {    
    -fx-font-size: 12pt;
    /** for layout testing, uncomment following lines
    -fx-border-style: dashed;
    -fx-border-color: red; **/
    /** colors definition **/
    bt-base-color: #66bdca;
    bt-darkest-color: derive(bt-base-color,-60%);
    bt-dark-color: derive(bt-base-color,-30%);
    bt-light-color: derive(bt-base-color,30%);
    bt-lightest-color: derive(bt-base-color,90%);
    -fx-background-color: bt-lightest-color;
}

.bordered {
    -fx-border-color: bt-darkest-color;
    -fx-border-width: 2;
}

/*************************
BUTTON
**************************/
.button {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-focus-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10;
    -fx-min-width: 150;
}

.button:hover {
    -fx-background-color: bt-base-color;
    -fx-text-fill: bt-lightest-color;
}

.button:pressed, .button:hover:pressed
{
    -fx-background-color: bt-light-color;
}

.button:focused
{
    -fx-focus-color: transparent;
}

/*************************
Table
**************************/
.table-view {
    -fx-table-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header .label {
    -fx-background-color: bt-base-color;
    -fx-text-fill: bt-lightest-color;
}

/*************************
Tab-pane
**************************/
//todo prerobit
.tab-pane {
    -fx-text-fill: #828282;
    -fx-border-color: bt-darkest-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-text-fill: #828282;
}

.tab{
    -fx-text-fill: #828282;
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-text-fill: #828282;
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-text-fill: #828282;
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
}

.tab-pane:top *.tab-header-area {
    -fx-text-fill: #828282;
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}