
* {
    -fx-font-family: "Segoe UI Semibold", Verdana, Helvetica, Arial, sans-serif;
        /** for layout testing, uncomment following lines
        -fx-border-style: dashed;
        -fx-border-color: red; **/

    /** theme definition **/
    colorAccent: steelblue;
    controlText: dimgray;
    controlTextInvert: lightgray;
    controlBg: lightgray;
    controlBgInvert: dimgray;
    colorText: gray;

    /** ui colors **/
    appBgColor: linear-gradient(to top right, #eee, #ccc);
}

.text{
    -fx-font-smoothing-type: gray;
}

.bordered {
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

.background {
    /*-fx-background-image: url("/images/interface/background.jpg");*/
    -fx-background-color: appBgColor;
}

.right {
    -fx-alignment: center-right;
}

.biggerFont {
    -fx-font-size: 20pt;
}

.bigFont {
    -fx-font-size: 35pt;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button, .menu-button {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10;
    -fx-min-width: 100;
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: colorAccent;
}

.button:hover, .menu-button:hover {
    -fx-text-fill: derive(colorAccent, -90%);
    -fx-background-color: controlBg;
}

/* Button with SVGPath icon */
/*.button:hover SVGPath{
    -fx-fill: colorAccent;
}*/

.button:pressed, .button:hover:pressed
{
    -fx-effect: none;
}

.button:disabled
{
    -fx-opacity: 0.4;
    /*-fx-background-color: #1d1d1d;*/
    -fx-text-fill: colorText;
}

.button.filled {
    -fx-background-color: controlBg;
}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                       *
 *                                                                             *
 ******************************************************************************/
/**.text-field {
    -fx-border-style: none;
    -fx-background-radius: 3;
}**/

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: colorText;
}

.header1 {
    -fx-font-size: 3em;
    -fx-text-fill: colorText;
    -fx-max-width: Infinity;
    -fx-alignment: center-right;
    -fx-label-padding: 0 50 0 0;
}

.header2 {
    -fx-font-size: 2em;
    -fx-text-fill: colorText;
}

.header3 {
    -fx-font-size: 1.5em;
    -fx-text-fill: colorText;
}

/*******************************************************************************
 *                                                                             *
 * Table                                                                       *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-border-color: colorAccent;
    -fx-border-style: solid;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view,
.filler,
.corner,
.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .label {
    -fx-background-color: transparent; /*linear-gradient(#131313 0%, #424141 100%);*/
}

/*.table-view .column-header .label {
    -fx-background-color: colorAccent;
    -fx-text-fill: controlBg;
}


.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}*/

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                       *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: colorText;
}

.tab-pane .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab:selected .tab-label {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: none;
}

.tab-label {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-focus-color: transparent;
}

.tab-pane:top *.tab-header-area {
    -fx-text-fill: colorText;
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}


/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/

.topmenu > .button,
.topmenu > .menu-button {
    -fx-min-height: 40;
    -fx-max-height: 40;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box-base  {
    -fx-background-color: white;
    -fx-min-width: 150;
    -fx-pref-width: 500;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-focus-color: transparent;
}

.combo-box-base:hover .arrow-button {
    -fx-background-color: colorAccent;
}

/**
.combo-box .combo-box-popup .list-view .list-cell{
}
**/

.combo-box-base:disabled {
    -fx-opacity: .4;
}


/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator .line{
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;  /*0 4 0 4 */
    -fx-margin: 5px;
    -fx-border-style: solid;
    -fx-background-color: controlBgInvert;
    -fx-border-width: 0.5px;
}


/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-focus-color: transparent;
    -fx-pref-column-count: 20;
}


/*******************************************************************************
 *                                                                             *
 * TextFlow                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-flow {
    -fx-focus-color: transparent;
    -fx-fill: red;
}


/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/

.list-view .sheet .cell.indexed-cell.list-cell {
    -fx-background-color: controlBg;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-text-fill: controlText;
}

.list-view .sheet .cell.indexed-cell.list-cell:focused {
    -fx-background-color: controlBg;
    -fx-text-fill: controlText;
}




/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    -fx-background-color: black;
}

.scroll-bar .thumb {
    -fx-background-color: controlBg;
    -fx-background-radius: 0;
}