* {    
    -fx-font-size: 12pt;
    /** for layout testing, uncomment following lines
    -fx-border-style: dashed;
    -fx-border-color: red; **/
    /** colors definition **/
    color-2: derive(color0,90%);
    color-1: derive(color0,30%);
    color0: #66bdca;
    color1: derive(color0,-30%);
    color2: derive(color0,-60%);
    /*-fx-font-family: "Segoe UI Semibold";*/
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-font-smoothing-type: gray;
}

.text{
    -fx-font-smoothing-type: gray;
}

.bordered {
    -fx-border-color: red;
    -fx-border-width: 2;
}

.ui {
    -fx-background-color: color2;
}

.right {
    -fx-alignment: center-right;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                       *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-focus-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 10;
    -fx-min-width: 150;
    -fx-text-fill: color-2;
}

.button:hover {
    /*-fx-background-color: base-color;*/
    -fx-text-fill: color0;
}

.button:pressed, .button:hover:pressed
{
    -fx-background-color: color-1;
}

.button:focused
{
    -fx-border-style: none;
    -fx-focus-color: transparent;
}

.button:disabled
{
    -fx-opacity: 0.4;
    /*-fx-background-color: #1d1d1d;*/
    -fx-text-fill: color-2;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: color-1;
}

.header1 {
    -fx-font: 35pt "Segoe UI Light";
    -fx-text-fill: color0;
    -fx-max-width: Infinity;
    -fx-alignment: center-right;
    -fx-label-padding: 0 50 0 0;
}

.header2 {
    -fx-font: 25pt "Segoe UI Light";
    -fx-text-fill: color0;
}

/*******************************************************************************
 *                                                                             *
 * Table                                                                       *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-table-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header .label {
    -fx-background-color: color0;
    -fx-text-fill: color-2;
}


/*******************************************************************************
 *                                                                             *
 * Tab pane                                                                       *
 *                                                                             *
 ******************************************************************************/
//todo prerobit
.tab-pane {
    -fx-text-fill: #828282;
    -fx-border-color: color-1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-text-fill: #828282;
}

.tab{
    -fx-text-fill: #828282;
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-text-fill: #828282;
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-text-fill: #828282;
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
}

.tab-pane:top *.tab-header-area {
    -fx-text-fill: #828282;
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}